<h1> USER PAGE</h1>

<p> Add an appearance</p>



<!-- CREATE FORM FOR USER TO SUBMIT GUEST APPEARANCE TO EPISODE -->
<!-- # <%= form_for  %>
#   Name: <%= guest_form.text_field :guest %>
#   Episode <%= episode_form.text_field :episode %>
#   Rating<%= rating_form.integer_field :rating%>
#   <button type="submit">
# <% end %> -->
